h1 {
    font-size: 100px;
}

td {
    height: 50px;
    border-bottom: 1px solid black;
}

th {
    text-align: left;
    border-bottom: 2px solid black;
}

th#Col1 {width: 200px;}
th#Col2 {width: 100px;}
th#Col3 {width: 50px;}
